/* /Shared/MainLayout.razor.rz.scp.css */
.page[b-hplfb8d1jl] {
	position: relative;
	display: flex;
	flex-direction: column;
}

main[b-hplfb8d1jl] {
	flex: 1;
}


@media (min-width: 641px) {
	.page[b-hplfb8d1jl] {
		flex-direction: row;
	}
}
